<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.joazco.reactcordova" ios-CFBundleVersion="1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaReact</name>
    <description />
    <author email="jazoulay@joazco.com" href="https://joazco.com">Jordan AZOULAY</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="hooks/before_platform_add.js" type="before_platform_add" />
    <hook src="hooks/before_prepare.js" type="before_prepare" />
    <hook src="hooks/after_prepare.js" type="after_prepare" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/ic_cdv_splashscreen.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#a5a5a5" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
